[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-restplus = "*"
alembic = "*"
aniso8601 = "*"
argcomplete = "*"
asn1crypto = "*"
attrs = "*"
bcrypt = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
cfn-flip = "*"
chardet = "*"
click = "*"
cryptography = "*"
docutils = "*"
durationpy = "*"
future = "*"
hjson = "*"
idna = "*"
itsdangerous = "*"
jmespath = "*"
jsonschema = "*"
kappa = "*"
placebo = "*"
pycparser = "*"
pyrsistent = "*"
python-dateutil = "*"
python-editor = "*"
python-slugify = "*"
pytz = "*"
requests = "*"
s3transfer = "*"
six = "*"
toml = "*"
tqdm = "*"
troposphere = "*"
urllib3 = "*"
wsgi-request-logger = "*"
zappa = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-Bcrypt = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
lambda_packages = "*"
Mako = "*"
MarkupSafe = "*"
PyJWT = "*"
PyMySQL = "*"
PyYAML = "*"
SQLAlchemy = "*"
Unidecode = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
